.user-labels {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 29px;
}

ion-label{
    margin: 10px;
    text-align: center;
    color: white;
}

.submit-but{
    margin-top: 50px;
}
